[Desktop Entry]
Name=danmaQ
Name[zh_CN]=danmaQ 弹幕客户端
Comment=Show danmaku on screen
Comment[zh_CN]=在桌面上显示弹幕
GenericName=danmaQ
Exec=danmaQ
Icon=danmaQ
Terminal=false
Type=Application
Categories=Qt;Utility;
Keywords=danmaQ;
Keywords[zh_CN]=弹幕;
