name: macOS
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

env:
  targetName: danmaQ
jobs:
  build:
    name: Build
    runs-on: macos-13
    steps:
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: 5.15.2
          modules: 'qtwebengine'
          cache: true
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Build MacOS
        run: |
          cmake . && make translations
          cmake -B build -DCMAKE_INSTALL_PREFIX=/app -DCMAKE_VERBOSE_MAKEFILE=ON -DCMAKE_BUILD_TYPE=Release
          cd build && make dmg       
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ env.targetName }}.macos.amd64.dmg
          path: build/${{ env.targetName }}.dmg
      - name: Update to release
        if: startsWith(github.event.ref, 'refs/tags/')
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/${{ env.targetName }}.dmg
          asset_name: ${{ env.targetName }}.macos.amd64.dmg
          tag: ${{ github.ref }}
          overwrite: true
